
label {
  font-size: 35px;
  padding-right: 25px;
  padding-left: 8px;
}

.questions {
  position:absolute;top:75%;left:40%;background-color:transparent;
  font-size:32px; max-width:200px; text-align:center
}

/* .speech {
  background-color:yellow;
} */